<%- model_class = Storylink -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:story) %>:</strong></dt>
  <dd><%= @storylink.story %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pattern) %>:</strong></dt>
  <dd><%= @storylink.pattern %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              storylinks_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_storylink_path(@storylink), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              storylink_path(@storylink),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
