<%- model_class = Pattern -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @pattern.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:patterntype) %>:</strong></dt>
  <dd><%= @pattern.patterntype %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event) %>:</strong></dt>
  <dd><%= @pattern.event %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              patterns_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pattern_path(@pattern), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pattern_path(@pattern),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
